/* 基础样式 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* 白天模式背景色 */
    color: #333; /* 白天模式文字颜色 */
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212; /* 黑夜模式背景色 */
    color: #f4f4f4; /* 黑夜模式文字颜色 */
}

.hero-section {
    text-align: center;
    padding: 100px 20px;
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.theme-toggle:hover {
    background-color: #2980b9;
}
