/* 默认白天模式 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: white;
}

/* 黑夜模式 */
body.dark-mode {
    background-color: #2c3e50;
    color: #ecf0f1;
}

header.dark-mode {
    background: linear-gradient(135deg, #34495e, #2c3e50);
}

.project-card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

body.dark-mode .project-card {
    background-color: #34495e;
}

.theme-toggle-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.theme-toggle-btn:hover {
    background-color: #2980b9;
}

